# please update this accordingly
# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for details
# see below example, you can add individual people or team as CODEOWNERS
# * @rogermedibank
